{% extends "default.html" %}

{% block title %}Обратная связь{% endblock %}

{% block content %}
	<h1>Обратная связь</h1>
	<div class="area">
		{% include "feedback/form.html" %}
		
		<div class="wide_block mtop pr">
			Мы всегда рады выслушать и ответить на все Ваши вопросы, предложения и замечания!<br/>
			Заполните все обязательные поля формы обратной связи и нажмите кнопку "Отправить". Ваш вопрос будет отправлен администратору сайта. Наш администратор ответит на все Ваши вопросы. Ответ будет выслан на элетронную почту, указанную при отправке вопроса.<br/>
			<strong>При заполнении формы, указывайте Ваш настоящий e-mail, т.к. ответ будет отправлен на него.</strong>
		</div>
	</div>
{% endblock %}