<div>
	<form action="" method="post">{% csrf_token %}
		<table width="100%" id="comments">
			<tr>
				<td valign="top">
					<div>
						{% if form.name.errors %}{{ form.name.errors }}{% endif %}
						<p>{{ form.name }}</p>
					</div>
					<div>
						{% if form.email.errors %}{{ form.email.errors }}{% endif %}
						<p>{{ form.email }}</p>
					</div>
					<div>
						{% if form.phone.errors %}{{ form.phone.errors }}{% endif %}
						<p>{{ form.phone }}</p>
					</div>
					<div>
						{% if form.captcha.errors %}{{ form.captcha.errors }}{% endif %}
						<p>{{ form.captcha }}</p>
					</div>
				</td>
				<td valign="top">
					<div style="margin-left:10px;">
						{% if form.text.errors %}{{ form.text.errors }}{% endif %}
						<p>{{ form.text }}</p>
						<div>* Все поля обязательны для заполнения.</div>
					</div>
				</td>
			</tr>
		</table>
		<input type="submit" value="Отправить"/>
	</form>
</div>