{% extends "default.html" %}

{% block title %}Как стать участником{% endblock %}

{% block content %}
	<h1>Как стать участником</h1>
	<div class="area">
		<div>
			<ol>
				<li>Оставьте заявку на регистрацию внизу страницы.</li>
				<li>Наш менеджер свяжется с Вами для уточнения информации. После этого будет активирован Ваш личный кабинет.</li>
				<li>Вы получите электронное письмо с кодом доступа к Вашему личному кабинету.</li>
				<li>Заполните анкету дилера. Загрузите информацию для дилеров, рекламную информацию и рекламные баннеры.</li>
				<li>Обменивайтесь информацией с другими дилерами.</li>
			</ol>
			<br/>
			Регистрироваться на портале могут <span class="h3">только дилеры</span> автомобилей. Регистрация на сайте <span class="h3">бесплатна.</span>
		</div>
		
		<div class="wide_block mtop pr">
			<h2 class="mbottom">Оставить заявку на регистрацию</h2>
			{% include "feedback/form.html" %}
		</div>
	</div>
{% endblock %}