{% extends "default.html" %}

{% block title %}Информация{% endblock %}

{% block content %}
	<h1>Информация</h1>
	<div class="area">
		<div>
			<div class="mlbottom">
				Мы рады приветствовать всех тех, кто занимается раелизацией российских и импортных автомобилей!<br/>
				Специально для Вас открыт информационный портал <strong>"Ассоциация дилеров"</strong>.
			</div>
			
			<h2 class="mlbottom">Назначение</h2>
			<ol class="mlbottom">
				<li>Создать единое информационное пространство для обмена информацией между дилерами.</li>
				<li>Создать единый каталог дилеров.</li>
				<li>Создать рекламную площадку, на которой всегда будут самые свежие предложения от кампаний, занимающихся реализацией автомобилей.</li>
			</ol>
			
			<h2 class="mlbottom">Условия</h2>
			<ul class="mlbottom">
				<li>Регистрироваться на сайте могут только дилеры автомобилей.</li>
			</ul>
		</div>
		
		<div class="wide_block mtop pr">
			<h2 class="mbottom">Задать вопрос</h2>
			{% include "feedback/form.html" %}
		</div>
	</div>
{% endblock %}