{% extends "default.html" %}

{% block title %}Каталог дилеров{% endblock %}

{% block content %}
	<h1><a class="orange" href="/">Каталог дилеров</a> <span class="blue">{{ brand.title }}</span></h1>
	<div class="area">
		{% if items %}
			<table class="cols">
				<tr>
					<td valign="top">
						{% for dealer in items.col1 %}
							{% ifchanged dealer.title.0 %}<h4>{{ dealer.title.0 }}</h4>{% endifchanged %}
							<a class="none_underl {% if dealer.is_popular %}btext{% endif %}" href="/dealer/{{ brand.id }}/{{ dealer.id }}/{{ dealer.slug }}/"><h3>{{ dealer.title }}</h3></a>
						{% endfor %}
					</td>
					<td valign="top">
						{% for dealer in items.col2 %}
							{% ifchanged dealer.title.0 %}<h4>{{ dealer.title.0 }}</h4>{% endifchanged %}
							<a class="none_underl {% if dealer.is_popular %}btext{% endif %}" href="/dealer/{{ brand.id }}/{{ dealer.id }}/{{ dealer.slug }}/"><h3>{{ dealer.title }}</h3></a>
						{% endfor %}
					</td>
					<td valign="top">
						{% for dealer in items.col3 %}
							{% ifchanged dealer.title.0 %}<h4>{{ dealer.title.0 }}</h4>{% endifchanged %}
							<a class="none_underl {% if dealer.is_popular %}btext{% endif %}" href="/dealer/{{ brand.id }}/{{ dealer.id }}/{{ dealer.slug }}/"><h3>{{ dealer.title }}</h3></a>
						{% endfor %}
					</td>
				</tr>
			</table>
		{% else %}
			<h4>Раздел в разработке</h4>
		{% endif %}
	</div>
{% endblock%}